In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('C:/Users/Hi/Downloads/gapminder-FiveYearData.csv')

In [3]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [4]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [5]:
print(df.shape)

(1704, 6)

In [6]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [7]:
print (df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [10]:
country_df = df['country']

In [11]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [12]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [13]:
subset = df[['country','continent','year']]

In [14]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [15]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [16]:
print(df.loc[0])

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [6]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [7]:
df.info

<bound method DataFrame.info of           country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]>

In [8]:
df.shape

(1704, 6)

In [1]:
import pandas as pd 
import numpy as np

In [10]:
path = "IBM-313 Marks.xlsx"
table = pd.read_excel(path)
print(table)

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

In [9]:
x = table['Total']
np.mean(x)

46.90632911392405

In [5]:
np.median(x)

45.0

In [6]:
import scipy 
from scipy import stats
stats.mode(x)

ModeResult(mode=0.0, count=2)

In [8]:
a = np.array([1,2,3,4,5])
p = np.percentile(a,50)
print(p)

3.0

In [11]:
k = ['ram',65,2.1]
print(k)

['ram', 65, 2.1]

In [12]:
for i in k:
    print(i)

ram
65
2.1

In [15]:
for i in range(10,20,2): #in this 10 refers to start and 20 refers to end and 2 reders to the increment
    print(i)

10
12
14
16
18

In [17]:
for i in range(10,20,2):
    print(i,end=', ')

10, 12, 14, 16, 18,

In [18]:
def greet():
    print("Hello")
    print("Good Evening")

In [19]:
greet()

Hello
Good Evening

In [21]:
def add(p,q):
    c=p+q
    return(c)

In [22]:
add(6,4)

10

In [23]:
add(10,4)

14

In [1]:
dic = {
    "name":"shoaib",
    "usn":"1ox22is093",
    "branch":"ise",
    "age":20}
print(dic)

{'name': 'shoaib', 'usn': '1ox22is093', 'branch': 'ise', 'age': 20}

In [3]:
print(dic["name"])

shoaib

In [4]:
print(dic.get("name"))

shoaib

In [5]:
print

In [6]:
print(type(dic))

<class 'dict'>